.FlyoutRootItemsOut	{
	COLOR: #9e2b03; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;
}
A.FlyoutRootItemsOut:link	{
	COLOR: #9e2b03; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOut:visited	{
	COLOR: #9e2b03; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOut:hover	{
	COLOR: #9e2b03; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOut:active	{
	COLOR: #9e2b03; TEXT-DECORATION: none;
}


.FlyoutRootItemsOver	{
	COLOR: #000000; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;
}
A.FlyoutRootItemsOver:link	{
	COLOR: #000000; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOver:visited	{
	COLOR: #000000; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOver:hover	{
	COLOR: #000000; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOver:active	{
	COLOR: #000000; TEXT-DECORATION: none;
}



.FlyoutSubItemsOut	{
	COLOR: #9e2c03; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutSubItemsOut:link	{
	COLOR: #9e2c03; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOut:visited	{
	COLOR: #9e2c03; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOut:hover	{
	COLOR: #9e2c03; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOut:active	{
	COLOR: #9e2c03; TEXT-DECORATION: none;
}



.FlyoutSubItemsOver	{
	COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutSubItemsOver:link	{
	COLOR: #000000; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOver:visited	{
	COLOR: #000000; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOver:hover	{
	COLOR: #000000; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOver:active	{
	COLOR: #000000; TEXT-DECORATION: none;
}


.SubMenuOut	{
	BACKGROUND-IMAGE: url('../images/GiftsShop/bg7.gif');
	BACKGROUND-COLOR: #f9e5f6;
}
.SubMenuOver	{
	BACKGROUND-IMAGE: url('../images/GiftsShop/bg3.gif');
	BACKGROUND-COLOR: #e0eff4;
}
.SubMenuOutFirst	{
	BACKGROUND-IMAGE: url('../images/GiftsShop/bg5.gif');
	BACKGROUND-COLOR: #ffffff;
}
.SubMenuOutFirstLast	{
	BACKGROUND-IMAGE: url('../images/GiftsShop/bg6.gif');
}

.SubMenuOutLast	{
	BACKGROUND-IMAGE: url('../images/GiftsShop/bg4.gif');
	BACKGROUND-COLOR: #e8e9eb;
}
.RootMenuOut	{
	BACKGROUND-IMAGE: url('../images/GiftsShop/bg.gif'); 
	CURSOR: pointer; 
	HEIGHT: 34px;
}
.RootMenuOver	{
	BACKGROUND-IMAGE: url('../images/GiftsShop/bg2.gif'); 
	CURSOR: pointer; 
	HEIGHT: 34px;  
}

.Bottom1	{
	BACKGROUND-COLOR: #ffffff;
}
.Bottom2	{
	BACKGROUND-COLOR: #fbfcfe;
}

.HeadOver	{
	BACKGROUND-COLOR: #e8e9eb;
}
.HeadOut	{
	BACKGROUND-COLOR: #758992;
}
.FlyoutContainer	{
	BORDER-BOTTOM: #c9713b 1px solid;
	HEIGHT: 34px;
	PADDING-LEFT: 40px;
}
