#shopping-cart .cart-sums
{
  list-style: none;
}

#shopping-cart .item-sums
{
  white-space: nowrap;
}

#shopping-cart .item-actions
{
  text-align: right;
}

.delete-from-list input
{
  background: transparent url(img/cart-item-delete.gif) no-repeat top left;
  width: 13px;
  height: 13px;
}

#shopping-cart .cart-totals
{
  float: right;
}
