.FlyoutItems	{
	COLOR: #c7fed4; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutItems:link	{
	COLOR: #c7fed4; TEXT-DECORATION: none;
}
A.FlyoutItems:visited	{
	COLOR: #c7fed4; TEXT-DECORATION: none;
}
A.FlyoutItems:hover	{
	COLOR: #fffdfe; TEXT-DECORATION: underline;
}
A.FlyoutItems:active	{
	COLOR: #c7fed4; TEXT-DECORATION: none;
}



.FlyoutItemsSelected	{
	COLOR: #fffdfe; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutItemsSelected:link	{
	COLOR: #fffdfe; TEXT-DECORATION: none;
}
A.FlyoutItemsSelected:visited	{
	COLOR: #fffdfe; TEXT-DECORATION: none;
}
A.FlyoutItemsSelected:hover	{
	COLOR: #fffdfe; TEXT-DECORATION: underline;
}
A.FlyoutItemsSelected:active	{
	COLOR: #fffdfe; TEXT-DECORATION: none;
}
