.FlyoutItems	{
	COLOR: #0a4088; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutItems:link	{
	COLOR: #0a4088; TEXT-DECORATION: none;
}
A.FlyoutItems:visited	{
	COLOR: #0a4088; TEXT-DECORATION: none;
}
A.FlyoutItems:hover	{
	COLOR: #000000; TEXT-DECORATION: underline;
}
A.FlyoutItems:active	{
	COLOR: #0a4088; TEXT-DECORATION: none;
}



.FlyoutItemsSelected	{
	COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutItemsSelected:link	{
	COLOR: #000000; TEXT-DECORATION: none;
}
A.FlyoutItemsSelected:visited	{
	COLOR: #000000; TEXT-DECORATION: none;
}
A.FlyoutItemsSelected:hover	{
	COLOR: #000000; TEXT-DECORATION: underline;
}
A.FlyoutItemsSelected:active	{
	COLOR: #000000; TEXT-DECORATION: none;
}
