/.dev/build/config.local-cc.php
/.dev/build/config.local-my.php
/.dev/build/config.local.php
/.dev/build/release/config.local.sh
/.dev/build/release/output
/.dev/tests/dump.sql
/.dev/tests/local.php
/build
/coverage
/var
/src/etc/config.local.php
/src/update.sh
/src/var/addons
/src/var/backup
/src/var/datacache
/src/var/locale
/src/var/log
/src/var/run
/src/var/images
/src/var/tmp
/src/var/data
/src/var/.decorator.fixtures.ini.php
/src/var/.decorator.modules.ini.php
/nbproject
