<HTML>
<HEAD><TITLE>Success Test Page</TITLE></HEAD>
<img src="https://securetrading.net/images/new.gif" align=left border=0>
<H2 align="center"><font face="Arial, Helvetica, sans-serif">SecureTrading Success Test Page</font></H2>
<PRE>

<!--
sterror         : $sterror
stresult        : $stresult
stauthcode      : $stauthcode
streference     : $streference
stconfidence    : $stconfidence
-->

Pre-defined fields
==================

CONTROL
-------

requiredfields  : $requiredfields
customeremail   : $customeremail
callbackurl     : $callbackurl
merchantemail   : $merchantemail
formref         : $formref

currency           : $currency
settlementcurrency : $settlementcurrency
settlementday      : $settlementday
language           : $language

INFORMATION
-----------
testmerchant    : $testmerchant
merchant        : $merchant
amount          : $amount
orderref        : $orderref
orderinfo       : $orderinfo

name            : $name
email           : $email
company         : $company
address         : $address
town            : $town
county          : $county
postcode        : $postcode
country         : $country
phone           : $phone
telephone       : $telephone
fax             : $fax
comments        : $comments

Derived Fields
==============
stdate          : $currdate
sttime          : $sttime
sttimestamp     : $sttimestamp
random8         : $random8
random16        : $random16
random32        : $random32
formattedamount	: $formattedamount

Response Fields
===============
sterror         : $sterror
stresult        : $stresult
stauthcode      : $stauthcode
streference     : $streference
stconfidence	: $stconfidence

Card Details
============
cctype          : $cctype
ccnumber        : $ccnumber
truncccnumber   : $truncccnumber
month           : $month
year            : $year
issue           : $ccissue

Site Specific Fields
====================

none specified


</PRE>
</BODY>
<input type=button value="Return to the shopping cart" onClick="javascript: window.location='$url';">
</HTML>
