.FlyoutRootItemsOut	{
	COLOR: #64673a; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;
}
A.FlyoutRootItemsOut:link	{
	COLOR: #64673a; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOut:visited	{
	COLOR: #64673a; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOut:hover	{
	COLOR: #64673a; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOut:active	{
	COLOR: #64673a; TEXT-DECORATION: none;
}


.FlyoutRootItemsOver	{
	COLOR: #414548; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;
}
A.FlyoutRootItemsOver:link	{
	COLOR: #414548; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOver:visited	{
	COLOR: #414548; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOver:hover	{
	COLOR: #414548; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOver:active	{
	COLOR: #414548; TEXT-DECORATION: none;
}



.FlyoutSubItemsOut	{
	COLOR: #616540; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutSubItemsOut:link	{
	COLOR: #616540; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOut:visited	{
	COLOR: #616540; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOut:hover	{
	COLOR: #616540; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOut:active	{
	COLOR: #616540; TEXT-DECORATION: none;
}



.FlyoutSubItemsOver	{
	COLOR: #464a4d; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutSubItemsOver:link	{
	COLOR: #464a4d; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOver:visited	{
	COLOR: #464a4d; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOver:hover	{
	COLOR: #464a4d; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOver:active	{
	COLOR: #464a4d; TEXT-DECORATION: none;
}


.SubMenuOut	{
	BACKGROUND-COLOR: #f4f8d3;
}
.SubMenuOver	{
	BACKGROUND-IMAGE: url('../images/yellow_grey/bg3.gif');
	BACKGROUND-COLOR: #e8eced;
}
.SubMenuOutFirst	{
	BACKGROUND-IMAGE: url('../images/yellow_grey/bg5.gif');
	BACKGROUND-COLOR: #ffffff;
}
.SubMenuOutFirstLast	{
	BACKGROUND-IMAGE: url('../images/yellow_grey/bg6.gif');
}

.SubMenuOutLast	{
	BACKGROUND-IMAGE: url('../images/yellow_grey/bg4.gif');
	BACKGROUND-COLOR: #f4f8d3;
}
.RootMenuOut	{
	BACKGROUND-IMAGE: url('../images/yellow_grey/bg.gif'); CURSOR: pointer;
}
.RootMenuOver	{
	BACKGROUND-IMAGE: url('../images/yellow_grey/bg2.gif'); CURSOR: pointer;  
}
.Bottom1	{
	BACKGROUND-COLOR: #f3f7d2;
}
.Bottom2	{
	BACKGROUND-COLOR: #fbfcfe;
}

.FlyoutContainer	{
	HEIGHT: 26px; BORDER-BOTTOM: #829eb4 1px solid; PADDING-LEFT: 40px;
}
