<html><head><title>SecureTrading Default Payment Form</title></head>

<SCRIPT Language="javascript">
<!--
var firsttime
function validator(theForm)
{
    if (firsttime == "Y")
  {
    alert("Please wait your payment is being processed.");
    return (false);
  }

  firsttime = "Y";
  return (true);

}
//-->
</SCRIPT>


<body bgcolor="FFFFFF">
<table width=80%>
<tr>
<td valign=top>
<a href="http://www.securetrading.com"><img src="/images/stlogo.gif" hspace=10 border=0></a>
</td>
<td>
<!-- <img src="$path/logo.gif" align=right> -->

<font size=3 color="990033"><b>Payment Form</b></font>
<br>
<table width=100% bgcolor="#CCFFFF">
<tr>
<td>Order reference no:</td>
<td>$orderref</td>
</tr>
<tr>
<td>Order:</td>
<td>$orderinfo</td>
</tr>
<tr>
<td colspan=2><hr></td></tr>
<tr>
<td>Total:</td>
<td>$formattedamount</td>
</tr>
</table>
<p>


<font face="Arial,Helvetica" SIZE="-1">

<FORM METHOD="POST" ACTION="/authorize/process.cgi" onsubmit="return validator(this)" >

<INPUT TYPE="hidden" NAME="requiredfields" VALUE="$requiredfields">
<INPUT TYPE="hidden" NAME="merchant" VALUE="$merchant">
<INPUT TYPE="hidden" NAME="amount" VALUE="$amount">
<INPUT TYPE="hidden" NAME="orderref" VALUE="$orderref">
<INPUT TYPE="hidden" NAME="orderinfo" VALUE="$orderinfo">
<INPUT TYPE="hidden" NAME="merchantemail" VALUE="$merchantemail">
<INPUT TYPE="hidden" NAME="currency" VALUE="$currency">
<INPUT TYPE="hidden" NAME="settlementday" VALUE="$settlementday">
<INPUT TYPE="hidden" NAME="customeremail" VALUE="$customeremail">
<INPUT TYPE="hidden" NAME="callbackurl" VALUE="$callbackurl">
<INPUT TYPE="hidden" NAME="failureurl" VALUE="$failureurl">
<INPUT TYPE="hidden" NAME="url" VALUE="$url">
<table>
<TD><FONT FACE="Arial" SIZE="-1" COLOR="000066">Name of Company or Organisation:</TD>
<TD><input type="hidden" SIZE="30" value="$company" name="company"> $company</TD></TR>

<TR><TD><FONT FACE="Arial" SIZE="-1" COLOR="000066">Contact Name:</TD>
<TD><input type="hidden" SIZE="30" name="name" value="$name"> $name</TD></TR>

<TR><TD><FONT FACE="Arial" SIZE="-1" COLOR="000066">Address:</TD>
<TD><input type="hidden" SIZE="30" value="$address" name="address"> $address</TD></TR>

<TR><TD><FONT FACE="Arial" SIZE="-1" COLOR="000066">Town or City:</TD>
<TD><input type="hidden" SIZE="20" value="$town" name="town"> $town</TD></TR>

<TR><TD><FONT FACE="Arial" SIZE="-1" COLOR="000066">County:</TD>
<TD><input type="hidden" SIZE="20" value="$county" name="county"> $county</TD></TR>

<TR><TD><FONT FACE="Arial" SIZE="-1" COLOR="000066">Postcode or ZIP:</TD>
<TD><input type="hidden" SIZE="20" value="$postcode" name="postcode"> $postcode</TD></TR>

<TR><TD><FONT FACE="Arial" SIZE="-1" COLOR="000066">Country:</TD>
<TD><input type="hidden" SIZE="20" value="$country" name="country"> $country</TD></TR>

<TR><TD><FONT FACE="Arial" SIZE="-1" COLOR="000066">Email:</TD>
<TD><input type="hidden" SIZE="20" value="$email" name="email"> $email</TD></TR>

<TR><TD><FONT FACE="Arial" SIZE="-1" COLOR="000066">Phone:</TD>
<TD><input type="hidden" SIZE="20" value="$telephone" name="telephone"> $telephone</TD></TR>


<TR><TD><FONT FACE="Arial" SIZE="-1" COLOR="000066">Credit Card Type:</TD>
<TD><select name="cctype">
<option>$cctype
<option>Visa
<option>Switch
<option>Mastercard
<option>Solo
<option>Delta
</Select></TD></TR>

<TR><TD><FONT FACE="Arial" SIZE="-1" COLOR="000066">Credit Card Number:</TD>

<TD><input type="text" value="$ccnumber" SIZE="20" name="ccnumber" autocomplete="off"></TD></TR>

<TR><TD><FONT FACE="Arial" SIZE="-1" COLOR="000066">If Switch,<BR> Issue No.: </TD>
<TD><input type="text" value="$ccissue" size="3" name="ccissue"></TD></TR>

<TR><TD><FONT FACE="Arial" SIZE="-1" COLOR="000066">Start Date (if applicable):</TD>
<TD><select name="startmonth">
<option>$startmonth
<option>01<option>02<option>03<option>04<option>05<option>06<option>07<option>08<option>09<option>10<option>11<option>12
</select>
<select name="startyear">
<option>$startyear
<option><option>1994<option>1995<option>1996<option>1997<option>1998<option>1999<option>2000<option>2001<option>2002<option>2003<option>2004
</select></TD></TR>

<TR><TD><FONT FACE="Arial" SIZE="-1" COLOR="000066">Expires End:</TD>
<TD><select name="month">
<option>$month
<option>01<option>02<option>03<option>04<option>05<option>06<option>07<option>08<option>09<option>10<option>11<option>12
</select>
<select name="year">
<option>$year
<option>2004<option>2005<option>2006<option>2007<option>2008<option>2009<option>2010<option>2011<option>2012
</select></TD></TR>

<tr>
<td><FONT FACE="Arial" SIZE="-1" COLOR="000066">Please Enter Security Code</td><td><INPUT type="text" name="securitycode" size="4" MAXLENGTH="4">&nbsp;&nbsp;<INPUT type="button" name="btnseccode" value="Security Code ?" onClick="JAVASCRIPT:window.open('http://www.securetrading.com/securitycodespopup.htm','popup','width=480,height=320');"></td></tr>

<tr>
<td colspan=2>
<BR><CENTER>
<input type="submit" value="Send Payment"><input type="reset" value="Clear Form">
</CENTER>
</TD></TR></TABLE></FORM>


<table>
<tr>
<td>
<font face="Arial,Helvetica" size=-1>
<br><br><b><a href="http://www.securetrading.com"><img src="https://securetrading.net/images/new.gif" align="left" border="0"></a>A Quick Note from Securetrading about Security<br></b><font size="-2">
If you look up at the URL of this page you will notice that it begins with https://. This means that it is on a Secure Server and all transactions that take place are encrypted between your browser and the server. Nobody is able to obtain your credit card details nor other information.<br><br>

Of equal importance is the security which surrounds the payment system. By making use of SecureTrading we have the most sophisticated online trading system available. It allows us to safely process your credit card payment with the bank, and complete the financial transactions securely behind protected firewalls.<br><br>

No personal or financial details are left unencrypted on a remote server, and such details are never sent by internet email.<br><br>

For more details about SecureTrading or to find out how you could have an automatic trading system like this on your own site, visit the SecureTrading web site at <a href="http://www.securetrading.com">http://www.securetrading.com</a><br><br></font>
</td></tr></table>
</td>
</tr>
</table>
</body>
</html>
