DirectoryIndex index.php

<Files "LICENSE"> 
	Order Deny,Allow
	Deny from all
</Files>

<Files "config.php">
	Order Deny,Allow 
	Deny from all 
</Files>

# Basic authentication
#
# 1. To create AuthUserFile, please use:
# htpasswd -c /u/<your home folder>/.users <username>
# 
# 2. To create AuthGroupFile, please create /u/<your home folder>/.groups and 
# insert the following lines: 
# <group_name>: <username1> <username2> <username3>
#
# 3. After that uncomment the following code: 
#
#AuthType Basic
#AuthName "LiteCommerce-based online store"
#AuthUserFile /u/<your home folder>/.users
#AuthGroupFile /u/<your home folder>/.groups
#Require group devel 
#Require user asd
#<limit GET POST>
#	require user <username> 
#</limit>
#Order allow,deny
#Allow from <your external IP like 81.176.76.100> 
#Allow from 127.0.0.1
#Satisfy any


