.CatOver	{ BACKGROUND-COLOR: #c8e0f8; BORDER-BOTTOM: #467db3 1px solid; CURSOR: pointer; }
.CatOverOnlyBorder	{ BORDER-BOTTOM: #467db3 1px solid; CURSOR: pointer; }
.CatOut	{ BORDER-BOTTOM: #ffffff 1px solid; CURSOR: pointer;   }
.CatOverWithoutBorder	{ CURSOR: pointer; BACKGROUND-COLOR: #c8e0f8; BORDER-BOTTOM: none; }

.CatSubOver	{ BACKGROUND-COLOR: #c8e0f8; BORDER-BOTTOM: #467db3 1px solid; CURSOR: pointer; }
.CatSubOverOnlyBorder	{ BACKGROUND-COLOR: #FFFFFF; BORDER-BOTTOM: #467db3 1px solid; CURSOR: pointer; }
.CatSubOut	{ BACKGROUND-COLOR: #FFFFFF; BORDER-BOTTOM: #ffffff 1px solid; CURSOR: pointer; }
.CatSubOutLast  { BACKGROUND-COLOR: #FFFFFF; BORDER-BOTTOM: #ffffff 1px solid; CURSOR: pointer; }
.CatSubOverWithoutBorder	{ CURSOR: pointer; BACKGROUND-COLOR: #c8e0f8; BORDER-BOTTOM: none; }

.BorderOut	{ BACKGROUND-COLOR: #FFFFFF; }
.BorderOver	{ BACKGROUND-COLOR: #467db3; }

.CatImageBorderOut	{
 	BORDER: #a5a5a5 1px solid;  
}
.CatImageBorderOver	{
	BORDER: #4c84b7 1px solid;  
}


.CategoriesListOut	{
	COLOR: #505960;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOut:link	{
	COLOR: #505960; TEXT-DECORATION: none;
}
.CategoriesListOut:visited	{
	COLOR: #505960; TEXT-DECORATION: none;
}
.CategoriesListOut:hover	{
	COLOR: #505960; TEXT-DECORATION: none;
}
.CategoriesListOut:active	{
	COLOR: #505960; TEXT-DECORATION: none;
}

.CategoriesListOver	{
	COLOR: #393a3e;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOver:link	{
	COLOR: #393a3e; TEXT-DECORATION: none;
}
.CategoriesListOver:visited	{
	COLOR: #393a3e; TEXT-DECORATION: none;
}
.CategoriesListOver:hover	{
	COLOR: #393a3e; TEXT-DECORATION: none;
}
.CategoriesListOver:active	{
	COLOR: #393a3e; TEXT-DECORATION: none;
}

.SubCatBorder	{
	BORDER: #70a4cb 1px solid;
}
