.CatOver	{ background-image: url("../images/GiftsShop/cat_over.gif"); BORDER-BOTTOM: #e6b266 1px solid; CURSOR: pointer;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}
.CatOverOnlyBorder	{ BORDER-BOTTOM: #e6b266 1px solid; CURSOR: pointer;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}
.CatOut	{ BORDER-BOTTOM: #e6b266 1px solid; CURSOR: pointer;   PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}
.CatOverWithoutBorder	{ CURSOR: pointer; BACKGROUND-COLOR: #dbdbdb; BORDER-BOTTOM: none;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}


.CatSubOver	{ background-image: url("../images/GiftsShop/cat_over.gif"); BORDER-BOTTOM: #e6b266 1px solid; CURSOR: pointer;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}
.CatSubOverOnlyBorder { background-image: url("../images/GiftsShop/cat_out.gif"); BORDER-BOTTOM: #e6b266 1px solid; CURSOR: pointer;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}
.CatSubOut	{ background-image: url("../images/GiftsShop/cat_out.gif"); BORDER-BOTTOM: #e6b266 1px solid; 	CURSOR: pointer;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}
.CatSubOutLast  { background-image: url("../images/GiftsShop/cat_out.gif"); CURSOR: pointer;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}
.CatSubOverWithoutBorder	{ CURSOR: pointer; background-image: url("../images/GiftsShop/cat_over.gif"); BORDER-BOTTOM: none;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}

.BorderOut	{ BACKGROUND-COLOR: #e6b266;}
.BorderOver	{ BACKGROUND-COLOR: #e6b266;}

.CatImageBorderOut	{
 	BORDER: #d98f4e 1px solid;  
}
.CatImageBorderOver	{
	BORDER: #d68f4d 1px solid;  
}


.CategoriesListOut	{
	COLOR: #850a03;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOut:link	{
	COLOR: #850a03; TEXT-DECORATION: none;
}
.CategoriesListOut:visited	{
	COLOR: #850a03; TEXT-DECORATION: none;
}
.CategoriesListOut:hover	{
	COLOR: #850a03; TEXT-DECORATION: none;
}
.CategoriesListOut:active	{
	COLOR: #850a03; TEXT-DECORATION: none;
}

.CategoriesListOver	{
	COLOR: #000000;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOver:link	{
	COLOR: #000000; TEXT-DECORATION: none;
}
.CategoriesListOver:visited	{
	COLOR: #000000; TEXT-DECORATION: none;
}
.CategoriesListOver:hover	{
	COLOR: #000000; TEXT-DECORATION: none;
}
.CategoriesListOver:active	{
	COLOR: #000000; TEXT-DECORATION: none;
}

.SubCatBorder	{
	BORDER: #b66224 1px solid;
}
