BODY,P,DIV,TH,TD,P,INPUT,SELECT,TEXTAREA {
        FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; 
        COLOR: #000000; FONT-SIZE: 10px;
}

BODY {
	margin-top: 0 px; 
	margin-bottom: 0 px; 
	margin-left: 0 px; 
	margin-right: 0 px; 
	background-color: #FFFFFF;
    margin: 0px; 
    padding: 0px;
}

FORM {
    MARGIN: 0px;
}

BODY.PopUp { 
        MARGIN-TOP: 5 px; MARGIN-BOTTOM: 5 px; MARGIN-LEFT: 5 px; MARGIN-RIGHT: 5 px; 
        BACKGROUND-COLOR: #FFFFFF;
}
A:link {
        COLOR: #000000; TEXT-DECORATION: none;
}
A:visited {
        COLOR: #000000; TEXT-DECORATION: none;
}
A:hover {
        COLOR: #000000; TEXT-DECORATION: underline;
}
A:active  {
        COLOR: #000000; TEXT-DECORATION: none;
}
H1 {
        FONT-SIZE: 15px;
}
H2 {
        FONT-SIZE: 13px;
}
H3 {
        FONT-SIZE: 12px;
}
HR {
        COLOR: #DDDDDD; HEIGHT: 1px;
}

.Head {
        BACKGROUND-COLOR: #FFF2C9;
}
.SidebarBox {
        BACKGROUND-COLOR: #FFF2C9;
}
.SidebarBorder {
        BACKGROUND-COLOR: #B2B2B3;
}
.SidebarTitle {
        BACKGROUND-COLOR: #E5EBEF; COLOR: #000000; FONT-WEIGHT: bold;
}
.SidebarItems{
        COLOR: #373B3D; TEXT-DECORATION: none;
}
.SidebarItems:link {
        COLOR: #373B3D; TEXT-DECORATION: none;
}
.SidebarItems:visited {
        COLOR: #373B3D; TEXT-DECORATION: none;
}
.SidebarItems:hover {
        COLOR: #000000; TEXT-DECORATION: underline;
}
.SidebarItems:active  {
        COLOR: #373B3D; TEXT-DECORATION: none;
}
.SidebarHr {
        COLOR: #B2B2B3;
}
.CategoriesList {
	FONT-SIZE: 12px;
}
.DialogBox {
        BACKGROUND-COLOR: #ffffff;
}
.DialogBorder {
        BACKGROUND-COLOR: #E5EBEF;
}
.DialogTitle {
        COLOR: #082032; FONT-WEIGHT: bold; FONT-SIZE: 11px;
}
.DialogTitleComment {
        COLOR: #082032; FONT-WEIGHT: normal; FONT-SIZE: 11px;
}
.NumberOfArticles {
        COLOR: #000000; FONT-WEIGHT: bold;
}
.TopLabel {
        COLOR: #000000; FONT-WEIGHT: bold; FONT-SIZE: 12px;
}
.Text {
        COLOR: #000000;
}
.Info {
        COLOR: #000000; FONT-STYLE: italic;
}
.AdminHead {
        COLOR: #000000; FONT-WEIGHT: bold; FONT-SIZE: 12px;
}
.AdminTitle {
        COLOR: #FF3300; FONT-WEIGHT: bold; FONT-SIZE: 12px;
}
.ProductTitle {
        COLOR: #082032; FONT-WEIGHT: bold; FONT-SIZE: 12px;
}
.ProductDetailsTitle {
        COLOR: #000000; FONT-WEIGHT: bold; FONT-SIZE: 10px;
}
.ProductDetails {
        COLOR: #000000;
}
.ProductPriceTitle {
        COLOR: #000000; FONT-WEIGHT: bold; FONT-SIZE: 12px;
}
.ProductPriceConverting {
        COLOR: #082032; FONT-WEIGHT: bold; FONT-SIZE: 11px;
}
.ProductPrice {
        COLOR: #FF3300; FONT-WEIGHT: bold; FONT-SIZE: 12px;
}
.ProductPriceSmall {
        COLOR: #FF3300; FONT-WEIGHT: bold;
}
.ItemsList {
        COLOR: #082032; FONT-WEIGHT: bold;
}
.NavigationPath {
        COLOR: #294F6C; TEXT-DECORATION: none;
}
.NavigationPath:link {
        COLOR: #294F6C; TEXT-DECORATION: none;
}
.NavigationPath:visited {
        COLOR: #294F6C; TEXT-DECORATION: none;
}
.NavigationPath:hover {
        COLOR: #082032; TEXT-DECORATION: underline;
}
.NavigationPath:active {
        COLOR: #294F6C; TEXT-DECORATION: none;
}
.FormButton {
        COLOR: #00224C; FONT-WEIGHT: bold; 
}
.DialogMainButton {
	background-color: #CDD9E1;
}   
.ErrorMessage {
        COLOR: #FF0000; FONT-WEIGHT: bold; 
}
.ValidateErrorMessage {
        COLOR: #FF0000;
}
.SuccessMessage {
        COLOR: green; FONT-WEIGHT: bold; 
}
.Star {
        COLOR: #FF0000;
}
.TableHead {
    BACKGROUND-COLOR: #E5EBEF
}
.AomTableHead {
    BACKGROUND-COLOR: #E5EBEF;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
}
.Input {
    BORDER : solid;
    BORDER-WIDTH : 1px;
    BORDER-COLOR : #B2B2B3;
    WIDTH : 100%;
}
.OrderTitle {
    COLOR : #516176;
    FONT-WEIGHT: bold;
}
.VerBorder {
	border-top: none; 
	border-left: none;
	border-right : solid; 
	border-bottom: none;
	height: 4px;
	border-width : 2px;
	border-right-color: #b2b2b2;
}
.VerBorderHighlighted {
    border-top: none;
    border-left: none;
    border-right : solid;
    border-bottom: none;
    height: 4px;
    border-width : 2px;
    border-right-color: #294f6c;
}
.LeftVerBorder {
    border-top: none;
    border-left: solid;
    border-right : none;
    border-bottom: none;
    height: 4px;
    border-width : 2px;
    border-left-color: #b2b2b2;
}
.LeftVerBorderHighlighted {
    border-top: none;
    border-left: solid;
    border-right : none;
    border-bottom: none;
    height: 4px;
    border-width : 2px;
    border-left-color: #294f6c;
}
.HorBorder {
    border-top: solid;                    
    border-left: none;
    border-right : none;
    border-bottom: none;
    height: 2px;
    border-width : 2px;
	border-top-color: #b2b2b2;
}
.HorBorderHighlighted {
    border-top: solid;
    border-left: none;
    border-right : none;
    border-bottom: none;
    height: 2px;
    border-width : 2px;
    border-top-color: #294f6c;
}

A.AomMenu:link {
        color: #466479; TEXT-DECORATION: none;
        font-size : 11px
}
A.AomMenu:visited {
        color: #466479; TEXT-DECORATION: none;
        font-size : 11px
}
A.AomMenu:hover {
        color: #466479; TEXT-DECORATION: underline;
        font-size : 11px
}
A.AomMenu:active  {
        color: #466479; TEXT-DECORATION: none;
        font-size : 11px;
}
.UpdateButton {
	    background-color: #CDD9E1; 
}
.TableRow {
    BACKGROUND-COLOR: #EEEEEE
}
.Bottom {
    COLOR: #B2B2B3; TEXT-DECORATION: none;
}
.FixedSelect {
        WIDTH: 170px;
}
.tabDefault {
    COLOR: #466479;
}
.tabSelected { 
    COLOR: #000000;
}

.Center {
    BACKGROUND-COLOR: #ffffff;
}

.CenterBorder {
	BACKGROUND-COLOR: #CDD9E1;
}

.MainMenuItemHeader {
        COLOR: #294F6C; TEXT-DECORATION: none; FONT-WEIGHT: bold; FONT-SIZE: 12px;
}

.displayPageHeader {
	COLOR: #FFFFFF; BACKGROUND-COLOR: #6685A5; FONT-WEIGHT: bold; FONT-SIZE: 12px;
}

.displayPageFooter {
	COLOR: #8A8A8A; BACKGROUND-COLOR: #E0E0E0;
}

/* Advertise block */
.adv-block {
  border: 7px solid #dee8ee;
  margin-bottom: 30px;
}

.adv-block .internal {
  border: 1px solid #8fa7b9;
  padding: 0px 0px 15px 25px;
  position: relative;
}

.adv-block a.close {
  position: absolute;
  display: block;
  top: 5px;
  right: 5px;
  outline: 0;
}

.adv-block a.close,
.adv-block a.close img
{
  background: transparent url(images/remove.png) no-repeat left top;
  padding: 0;
  margin: 0;
  border: 0;
  width: 13px;
  height: 13px;
}

.adv-block a {
  color: #043fa0;
  text-decoration: underline;
}

.adv-block td {
  padding: 0px;
  text-align: left;
  color: #1e1e1e;
  vertical-align: top;
}

.adv-block td.qualiteam {
  text-align: right;
  padding-top: 22px;
  padding-right: 25px;
  padding-left: 60px;
}

.adv-block h2 {
  font-size: 34px;
  color: #082032;
  margin: 0px;
  padding: 0px;
  padding-top: 22px;
  padding-bottom: 18px;
}

.adv-block span {
  line-height: 19px;
}

.adv-block p,
.adv-block p a
{
  font-size: 18px;
}

.adv-block p {
  color: #3b3b3b;
  margin: 0px;
  padding: 0px;
  padding-top: 18px;
}

.adv-block h2.custom,
.adv-block h2.support
{
  background: transparent url(images/adv_icon_support.png) no-repeat left 22px;
  padding-left: 50px; 
}

.adv-block h2.hosting {
  background: transparent url(images/adv_icon_support.png) no-repeat left 22px;
  padding-left: 50px;
}
