BODY,P,DIV,TH,TD,P,INPUT,SELECT,TEXTAREA {
	FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; 
	COLOR: #000000; FONT-SIZE: 12px;
}

.tabDefault {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #748191;
}
.tabSelected {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #394B63;
}
.subTabDefault {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #748191;
}
.subTabSelected { 
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #394B63;
}
.DialogDefaultHeader { 
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #F0F0FF;
}

.TabHeader { 
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #394B63;
}

.VerBorder {
	border-top: none;
	border-left: none;
	border-right : solid;
	border-bottom: none;
	height: 4px;
	border-width : 2px;
	border-right-color: #b2b2b2;
}

.VerBorderHighlighted {
	border-top: none;
	border-left: none;
	border-right : solid;
	border-bottom: none;
	height: 4px;
	border-width : 2px;
	border-right-color: #294f6c;
}

.LeftVerBorder {
	border-top: none;
	border-left: solid;
	border-right : none;
	border-bottom: none;
	height: 4px;
	border-width : 2px;
	border-left-color: #b2b2b2;
}
.LeftVerBorderHighlighted {
	border-top: none;
	border-left: solid;
	border-right : none;
	border-bottom: none;
	height: 4px;
	border-width : 2px;
	border-left-color: #294f6c;
}
.HorBorder {
	border-top: solid;
	border-left: none;
	border-right : none;
	border-bottom: none;
	height: 2px;
	border-width : 2px;
	border-top-color: #b2b2b2;
}
.HorBorderHighlighted {
	border-top: solid;
	border-left: none;
	border-right : none;
	border-bottom: none;
	height: 2px;
	border-width : 2px;
	border-top-color: #294f6c;
}

select {
	color:#000000;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	background:#FFFFFF;
    BORDER : solid;
    BORDER-WIDTH : 1px;
    BORDER-COLOR : #B2B2B3;
}  
   
option {
	color:#000000;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	background:#FFFFFF;
/**	border:solid #999999;
	border-width: 1px;/**/
}

textarea {
	color:#000000;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	background:#FFFFFF;
	border:solid #999999;
	border-width: 1px;
}

input {
	color:#000000;
	font-size:11px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
	border:solid #999999;
	border-width: 1px;
}

.ShortField{
	width: 150px;
}

.NormalField {
	width: 250px;
}

.LongField {
	width: 350px;
}

.Comment {
	COLOR: #555555; FONT-SIZE: 10px;
}

input.image {
	text-decoration:none;
	border-width: 0px;
}

.inputImage {
	text-decoration:none;
	border: none;
}

.inputCheckbox {
	border: none;
}
