table.product-photo-box,
table.product-photo-box tr,
table.product-photo-box td,
table.product-photo-box tbody
{
  border-style: none;
}

table.product-photo-box td
{
  vertical-align: middle;
  padding: 0;
}
