.CatOver	{ BACKGROUND-COLOR: #5aea6e; BORDER-BOTTOM: #32a349 1px solid; CURSOR: pointer;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}
.CatOverOnlyBorder	{ BORDER-BOTTOM: #32a349 1px solid; CURSOR: pointer;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}
.CatOut	{ BORDER-BOTTOM: #32a349 1px solid; CURSOR: pointer;   PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}
.CatOverWithoutBorder	{ CURSOR: pointer; BACKGROUND-COLOR: #dbdbdb; BORDER-BOTTOM: none;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}


.CatSubOver	{ BACKGROUND-COLOR: #7cfa8e; BORDER-BOTTOM: #32a349 1px solid; CURSOR: pointer;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}
.CatSubOverOnlyBorder	{ BACKGROUND-COLOR: #4ddc60; BORDER-BOTTOM: #32a349 1px solid; CURSOR: pointer;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}
.CatSubOut	{ BACKGROUND-COLOR: #4ddc60; BORDER-BOTTOM: #32a349 1px solid; 	CURSOR: pointer;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}
.CatSubOutLast  { BACKGROUND-COLOR: #4ddc60; CURSOR: pointer;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}
.CatSubOverWithoutBorder	{ CURSOR: pointer; BACKGROUND-COLOR: #7cfa8e; BORDER-BOTTOM: none;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}

.BorderOut	{ BACKGROUND-COLOR: #32a349;}
.BorderOver	{ BACKGROUND-COLOR: #32a349;}

.CatImageBorderOut	{
 	BORDER: #0c7d23 1px solid;  
}
.CatImageBorderOver	{
	BORDER: #0c7d23 1px solid;  
}


.CategoriesListOut	{
	COLOR: #ffffff;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOut:link	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
.CategoriesListOut:visited	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
.CategoriesListOut:hover	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
.CategoriesListOut:active	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}

.CategoriesListOver	{
	COLOR: #000000;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOver:link	{
	COLOR: #000000; TEXT-DECORATION: none;
}
.CategoriesListOver:visited	{
	COLOR: #000000; TEXT-DECORATION: none;
}
.CategoriesListOver:hover	{
	COLOR: #000000; TEXT-DECORATION: none;
}
.CategoriesListOver:active	{
	COLOR: #000000; TEXT-DECORATION: none;
}

.SubCatBorder	{
	BORDER: #22903a 1px solid;
}
