.CatOver	{ BACKGROUND-COLOR: #cdeff9; BORDER-BOTTOM: #57aac8 1px solid; CURSOR: pointer; PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}
.CatOverOnlyBorder	{ BORDER-BOTTOM: #57aac8 1px solid; CURSOR: pointer; PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}
.CatOut	{ BORDER-BOTTOM: #57aac8 1px solid; CURSOR: pointer;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}
.CatOverWithoutBorder	{ CURSOR: pointer; BACKGROUND-COLOR: #dbdbdb; BORDER-BOTTOM: none; PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}


.CatSubOver	{ BACKGROUND-COLOR: #cdeff9; BORDER-BOTTOM: #57aac8 1px solid; CURSOR: pointer; PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}
.CatSubOverOnlyBorder	{ BACKGROUND-COLOR: #83d2f1; BORDER-BOTTOM: #57aac8 1px solid; CURSOR: pointer; PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}
.CatSubOut	{ BACKGROUND-COLOR: #83d2f1; BORDER-BOTTOM: #57aac8 1px solid; 	CURSOR: pointer; PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}
.CatSubOutLast  { BACKGROUND-COLOR: #83d2f1; CURSOR: pointer; PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}
.CatSubOverWithoutBorder	{ CURSOR: pointer; BACKGROUND-COLOR: #cdeff9; BORDER-BOTTOM: none; PADDING-TOP: 3px; PADDING-BOTTOM: 3px;}

.BorderOut	{ BACKGROUND-COLOR: #57aac8;}
.BorderOver	{ BACKGROUND-COLOR: #57aac8;}

.CatImageBorderOut	{
 	BORDER: #0c7d23 1px solid;  
}
.CatImageBorderOver	{
	BORDER: #0c7d23 1px solid;  
}


.CategoriesListOut	{
	COLOR: #0c3b65;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOut:link	{
	COLOR: #0c3b65; TEXT-DECORATION: none;
}
.CategoriesListOut:visited	{
	COLOR: #0c3b65; TEXT-DECORATION: none;
}
.CategoriesListOut:hover	{
	COLOR: #0c3b65; TEXT-DECORATION: none;
}
.CategoriesListOut:active	{
	COLOR: #0c3b65; TEXT-DECORATION: none;
}

.CategoriesListOver	{
	COLOR: #0c3b65;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOver:link	{
	COLOR: #0c3b65; TEXT-DECORATION: none;
}
.CategoriesListOver:visited	{
	COLOR: #0c3b65; TEXT-DECORATION: none;
}
.CategoriesListOver:hover	{
	COLOR: #0c3b65; TEXT-DECORATION: none;
}
.CategoriesListOver:active	{
	COLOR: #0c3b65; TEXT-DECORATION: none;
}

.SubCatBorder	{
	BORDER: #2d85b3 1px solid;
}
