.CatTD	{
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; CURSOR: pointer;
}
.BgOver	{ 
	PADDING-TOP: 2px;
	PADDING-BOTTOM: 2px;
	BACKGROUND-COLOR: #edebbb;
	PADDING-LEFT: 13px;
	PADDING-RIGHT: 6px;
}
.BgOut	{
	BACKGROUND-COLOR: #f2f0a5;
	PADDING-LEFT: 13px;
	PADDING-RIGHT: 6px;
	PADDING-TOP: 2px;
	PADDING-BOTTOM: 2px;
}
.BorderOut	{ BACKGROUND-COLOR: #e9de68; }
.BorderOver	{ BACKGROUND-COLOR: #d7ac29; }


.CategoriesListOut	{
	COLOR: #505960;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOut:link	{
	COLOR: #505960; TEXT-DECORATION: none;
}
.CategoriesListOut:visited	{
	COLOR: #505960; TEXT-DECORATION: none;
}
.CategoriesListOut:hover	{
	COLOR: #505960; TEXT-DECORATION: none;
}
.CategoriesListOut:active	{
	COLOR: #505960; TEXT-DECORATION: none;
}

.CategoriesListOver	{
	COLOR: #393a3e;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOver:link	{
	COLOR: #393a3e; TEXT-DECORATION: none;
}
.CategoriesListOver:visited	{
	COLOR: #393a3e; TEXT-DECORATION: none;
}
.CategoriesListOver:hover	{
	COLOR: #393a3e; TEXT-DECORATION: none;
}
.CategoriesListOver:active	{
	COLOR: #393a3e; TEXT-DECORATION: none;
}

.SubCatBorder	{
	BORDER: none;
}

.IndentTR {
}
.IndentTD {
    height: 5px;
}
.IndentIMG {
    width: 1px;
    height: 5px;
}
.CatContainer {
    width: 149px;
    margin-left: 8px;
}
