.CatTD  {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; CURSOR: pointer;
}
.CatTDOut	{
	HEIGHT: 20px; PADDING-RIGHT: 14px; PADDING-LEFT: 14px;
	BACKGROUND-POSITION: top; BACKGROUND-REPEAT: repeat-x;
	BACKGROUND-COLOR: #a35096;
}

.CatTDOver	{
	HEIGHT: 20px; PADDING-RIGHT: 14px; PADDING-LEFT: 14px;
	BACKGROUND-POSITION: top; BACKGROUND-REPEAT: repeat-x;
	BACKGROUND-COLOR: #a20093;
}
.TableOut	{
    BORDER-RIGHT: #bec3c9 1px solid;
    BORDER-LEFT: #bec3c9 1px solid;
}

.TableOver	{
	BORDER-RIGHT: #a0caf2 1px solid;
	BORDER-LEFT: #a0caf2 1px solid;
}
.Line1_2	{ BACKGROUND-COLOR: #bc19b4; }
.Line2_2	{ BACKGROUND-COLOR: #a00191; }
.Line3_2	{ BACKGROUND-COLOR: #9f018c; }
.Line4_2	{ BACKGROUND-COLOR: #9d0188; }
.Line1	{ BACKGROUND-COLOR: #b568ac; }
.Line2	{ BACKGROUND-COLOR: #a24f95; }
.Line3	{ BACKGROUND-COLOR: #a04d93; }
.Line4	{ BACKGROUND-COLOR: #9e4b91; }


.CategoriesListOut	{
	COLOR: #fdfdfd;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOut:link	{
	COLOR: #fdfdfd; TEXT-DECORATION: none;
}
.CategoriesListOut:visited	{
	COLOR: #fdfdfd; TEXT-DECORATION: none;
}
.CategoriesListOut:hover	{
	COLOR: #fdfdfd; TEXT-DECORATION: none;
}
.CategoriesListOut:active	{
	COLOR: #fdfdfd; TEXT-DECORATION: none;
}

.CategoriesListOver	{
	COLOR: #ffffff;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOver:link	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
.CategoriesListOver:visited	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
.CategoriesListOver:hover	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
.CategoriesListOver:active	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}

.SubCatBorder	{
    border-top: 1px solid #803075;
    border-right: 1px solid #803075;
    border-left: 1px solid #803075;
    background-color: #803075;
}

.IndentTR {
}
.IndentTD {
    height: 1px;
}
.IndentIMG {
    width: 1px;
    height: 1px;
}

.CatContainer {
    width: 100%;
    background-color: #803075;
}
