.CatTD  {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; CURSOR: pointer;
}
.CatTDOut	{
	HEIGHT: 20px; PADDING-RIGHT: 14px; PADDING-LEFT: 14px;
	BACKGROUND-POSITION: top; BACKGROUND-REPEAT: repeat-x;
	BACKGROUND-COLOR: #31a9ff;
}

.CatTDOver	{
	HEIGHT: 20px; PADDING-RIGHT: 14px; PADDING-LEFT: 14px;
	BACKGROUND-POSITION: top; BACKGROUND-REPEAT: repeat-x;
	BACKGROUND-COLOR: #a7e3fd;
}
.TableOut	{
    BORDER-RIGHT: #bec3c9 1px solid;
    BORDER-LEFT: #bec3c9 1px solid;
}

.TableOver	{
	BORDER-RIGHT: #a0caf2 1px solid;
	BORDER-LEFT: #a0caf2 1px solid;
}
.Line1_2 { BACKGROUND-COLOR: #faffff; }
.Line2_2 { BACKGROUND-COLOR: #bce9ff; }
.Line3_2 { BACKGROUND-COLOR: #c6ecff; }
.Line4_2 { BACKGROUND-COLOR: #ceeffe; }

.Line1	{ BACKGROUND-COLOR: #b2f2fe; }
.Line2	{ BACKGROUND-COLOR: #38a7ff; }
.Line3	{ BACKGROUND-COLOR: #48adff; }
.Line4	{ BACKGROUND-COLOR: #69beff; }


.CategoriesListOut	{
	COLOR: #000f22;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOut:link	{
	COLOR: #000f22; TEXT-DECORATION: none;
}
.CategoriesListOut:visited	{
	COLOR: #000f22; TEXT-DECORATION: none;
}
.CategoriesListOut:hover	{
	COLOR: #000f22; TEXT-DECORATION: none;
}
.CategoriesListOut:active	{
	COLOR: #000f22; TEXT-DECORATION: none;
}

.CategoriesListOver	{
	COLOR: #011023;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOver:link	{
	COLOR: #011023; TEXT-DECORATION: none;
}
.CategoriesListOver:visited	{
	COLOR: #011023; TEXT-DECORATION: none;
}
.CategoriesListOver:hover	{
	COLOR: #011023; TEXT-DECORATION: none;
}
.CategoriesListOver:active	{
	COLOR: #011023; TEXT-DECORATION: none;
}

.SubCatBorder	{
    border-top: 1px solid #2d85b3;
    border-right: 1px solid #2d85b3;
    border-left: 1px solid #2d85b3;
    background-color: #2d85b3;
}

.IndentTR {
}
.IndentTD {
    height: 1px;
}
.IndentIMG {
    width: 1px;
    height: 1px;
}

.CatContainer {
    width: 100%;
    background-color: #619be4;
}
