# vim: set ts=2 sw=2 sts=2 et:
#
# Skins-specified Apache options
#

Options -Indexes

<Files "*.tpl">
  Deny from all
</Files>

<Files "*.php">
  Deny from all
</Files>

<Files "*.pl">
  Deny from all
</Files>

<Files "*.conf">
  Deny from all
</Files>

Allow from all

<IfModule mod_headers.c>
  <FilesMatch "(\.js\.gz|\.css\.gz)$">
    # Serve correct encoding type.
    Header append Content-Encoding gzip

    # Force proxies to cache gzipped & non-gzipped css/js files separately.
    Header append Vary Accept-Encoding
  </FilesMatch>
</IfModule>
