/* Minicart block */

.minicart {
    position: relative;
    padding: 0.5em;
}

.minicart li {
    background-image: none;
}

/* Minicart title */

.lc-minicart-title {
    font-size: 12px;
    font-weight: bold;
    float: left;
    margin: 0;
    padding: 3px 0 0 0.5em;
    clear: none;
}

/* Minicart toggle button */

.minicart .toggle-button {
    width: 35px;
    height: 24px;
    margin: 0;
    padding: 0;
    background: transparent url(img/minicart-collapsed.gif) no-repeat top left;
    float: left;
    cursor: pointer;
}

.minicart .expanded .toggle-button {
    background: transparent url(img/minicart-expanded.gif) no-repeat top left;
}

.minicart .empty .toggle-button {
    background: transparent url(img/minicart-empty.gif) no-repeat top right;
    width: 24px;
    height: 24px;
    cursor: auto;
}

.minicart .empty p {
    margin: 0;
    padding: 1em 0 0 0;
}

/* Minicart items */

.minicart-items {
    clear: both;
    border: 0;
    margin: 0;
    padding: 0;
}

.minicart .empty .lc-minicart-items {
    border-bottom: none;
}

.minicart .collapsed .lc-minicart-items {
    display: none;
}

.lc-minicart-items ul {
    padding-top: 1em;
    list-style: none;
}

.lc-minicart-items ul li,
.lc-minicart-items p {
    padding: 0 0 1em 0;
}

.lc-minicart-items .line-item {
    display: block;
}
/* Minicart totals */

.lc-minicart-totals {
    clear: both;
    padding: 1em 0 0 0;
}

.lc-minicart-totals p {
    padding: 0;
    margin: 0;
}

.lc-minicart-totals ul {
    list-style: none;
    padding: 0;
}

.lc-minicart-totals li {
    margin: 0;
    padding: 0;

}

/* Minicart buttons */

.lc-minicart-links {
    padding: 0.5em 0 0 0;
}
