/* Minicart block */

#lc-minicart {
    position: relative;
    padding: 0.5em;
    color: #393939;
}

#lc-minicart a,
#lc-minicart a:active,
#lc-minicart a:hover,
#lc-minicart a:visited
{
    text-decoration: underline;
    color: #314d73;
}

#lc-minicart li {
    background-image: none;

}

/* Minicart title */

#lc-minicart .lc-minicart-title {
    font-size: 12px;
    font-weight: bold;
    color: gray;
    float: left;
    margin: 0;
    padding: 3px 0 0 0.5em;
    clear: none;
}

/* Minicart toggle button */

#lc-minicart .toggle-button {
    width: 35px;
    height: 24px;
    margin: 0;
    padding: 0;
    background: url(img/minicart-collapsed.gif) no-repeat top left;
    float: left;
    cursor: pointer;
}

#lc-minicart.expanded .toggle-button {
    background: url(img/minicart-expanded.gif) no-repeat top left;
}

#lc-minicart.empty .toggle-button {
    background: url(img/minicart-empty.gif) no-repeat top right;
    width: 24px;
    height: 24px;
    cursor: auto;
}

#lc-minicart.empty p {
    margin: 0;
    padding: 1em 0 0 0;
}

/* Minicart items */

.lc-minicart-items {
    clear: both;
    border: 1px solid ##c6c7c6;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #c6c7c6;
}

#lc-minicart .line-item a,
#lc-minicart .line-item a:active,
#lc-minicart .line-item a:visited
{
    text-decoration: none;
}

#lc-minicart .line-item a:hover
{
    text-decoration: underline;
}


#lc-minicart.empty .lc-minicart-items {
    border-bottom: none;
}

#lc-minicart.collapsed .lc-minicart-items {
    display: none;
}

.lc-minicart-items ul {
    padding-top: 1em;
    background: url(img/minicart-items-right.gif) no-repeat top left;
    list-style: none;
}

.lc-minicart-items ul li,
.lc-minicart-items p {
    padding: 0 0 1em 0;
}

.lc-minicart-items .line-item {
    display: block;
}
/* Minicart totals */

.lc-minicart-totals {
    clear: both;
    padding: 1em 0 0 0;
}

.lc-minicart-totals p {
    padding: 0;
    margin: 0;
}

.lc-minicart-totals ul {
    list-style: none;
    padding: 0;
}

.lc-minicart-totals li {
    color: #737573;
    margin: 0;
    padding: 0;

}

#lc-minicart .currency, #lc-minicart .qty {
    color: #101010;
}

/* Minicart buttons */

.lc-minicart-links {
    padding: 0.5em 0 0 0;
}
