.CatTD  {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; CURSOR: pointer;
}
.CatTDOut	{
	HEIGHT: 20px; PADDING-RIGHT: 14px; PADDING-LEFT: 14px;
	BACKGROUND-POSITION: top; BACKGROUND-REPEAT: repeat-x;
	BACKGROUND-COLOR: #cdcdcd;
}

.CatTDOver	{
	HEIGHT: 20px; PADDING-RIGHT: 14px; PADDING-LEFT: 14px;
	BACKGROUND-POSITION: top; BACKGROUND-REPEAT: repeat-x;
	BACKGROUND-COLOR: #b4d3f0;
}
.TableOut	{
	BORDER-RIGHT: #bec3c9 1px solid;
	BORDER-LEFT: #bec3c9 1px solid;
}

.TableOver	{
	BORDER-RIGHT: #a0caf2 1px solid;
	BORDER-LEFT: #a0caf2 1px solid;
}
.Line1_2	{ BACKGROUND-COLOR: #9fcbf0; }
.Line2_2	{ BACKGROUND-COLOR: #e9f2f9; }
.Line3_2	{ BACKGROUND-COLOR: #7aaedd; }
.Line4_2	{ BACKGROUND-COLOR: #2a7a9f; }
.Line1	{ BACKGROUND-COLOR: #c2c2c2; }
.Line2	{ BACKGROUND-COLOR: #f0f0f0; }
.Line3	{ BACKGROUND-COLOR: #a4a4a4; }
.Line4	{ BACKGROUND-COLOR: #666666; }


.CategoriesListOut	{
	COLOR: #505960;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOut:link	{
	COLOR: #505960; TEXT-DECORATION: none;
}
.CategoriesListOut:visited	{
	COLOR: #505960; TEXT-DECORATION: none;
}
.CategoriesListOut:hover	{
	COLOR: #505960; TEXT-DECORATION: none;
}
.CategoriesListOut:active	{
	COLOR: #505960; TEXT-DECORATION: none;
}

.CategoriesListOver	{
	COLOR: #393a3e;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOver:link	{
	COLOR: #393a3e; TEXT-DECORATION: none;
}
.CategoriesListOver:visited	{
	COLOR: #393a3e; TEXT-DECORATION: none;
}
.CategoriesListOver:hover	{
	COLOR: #393a3e; TEXT-DECORATION: none;
}
.CategoriesListOver:active	{
	COLOR: #393a3e; TEXT-DECORATION: none;
}

.SubCatBorder	{
	BORDER: none;
}

.IndentTR {
}
.IndentTD {
    height: 1px;
}
.IndentIMG {
    width: 1px;
    height: 1px;
}
.CatContainer {
    width: 149px;
    margin-left: 8px;
}
