.CatTD  {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; CURSOR: pointer;
}
.CatTDOut	{
	HEIGHT: 20px; PADDING-RIGHT: 14px; PADDING-LEFT: 14px;
	BACKGROUND-POSITION: top; BACKGROUND-REPEAT: repeat-x;
	BACKGROUND-COLOR: #34c34f;
}

.CatTDOver	{
	HEIGHT: 20px; PADDING-RIGHT: 14px; PADDING-LEFT: 14px;
	BACKGROUND-POSITION: top; BACKGROUND-REPEAT: repeat-x;
	BACKGROUND-COLOR: #44d056;
}
.TableOut	{
    BORDER-RIGHT: #bec3c9 1px solid;
    BORDER-LEFT: #bec3c9 1px solid;
}

.TableOver	{
	BORDER-RIGHT: #a0caf2 1px solid;
	BORDER-LEFT: #a0caf2 1px solid;
}
.Line1_2	{ BACKGROUND-COLOR: #7ffa8f; }
.Line2_2	{ BACKGROUND-COLOR: #44d056; }
.Line3_2	{ BACKGROUND-COLOR: #44d056; }
.Line4_2	{ BACKGROUND-COLOR: #44d056; }
.Line1	{ BACKGROUND-COLOR: #7bfb8c; }
.Line2	{ BACKGROUND-COLOR: #34c34f; }
.Line3	{ BACKGROUND-COLOR: #34c34f; }
.Line4	{ BACKGROUND-COLOR: #34c34f; }


.CategoriesListOut	{
	COLOR: #ffffff;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOut:link	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
.CategoriesListOut:visited	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
.CategoriesListOut:hover	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
.CategoriesListOut:active	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}

.CategoriesListOver	{
	COLOR: #000000;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOver:link	{
	COLOR: #000000; TEXT-DECORATION: none;
}
.CategoriesListOver:visited	{
	COLOR: #000000; TEXT-DECORATION: none;
}
.CategoriesListOver:hover	{
	COLOR: #000000; TEXT-DECORATION: none;
}
.CategoriesListOver:active	{
	COLOR: #000000; TEXT-DECORATION: none;
}

.SubCatBorder	{
    border-top: 1px solid #0d7d35;
    border-right: 1px solid #0d7d35;
    border-left: 1px solid #0d7d35;
    background-color: #0d7d35;
}

.IndentTR {
}
.IndentTD {
    height: 1px;
}
.IndentIMG {
    width: 1px;
    height: 1px;
}

.CatContainer {
    width: 100%;
    background-color: #0d7d35;
}
