.CatOver	{ BACKGROUND-COLOR: #ae04a3; BORDER-BOTTOM: #803075 1px solid; CURSOR: pointer;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px; }
.CatOverOnlyBorder	{ BORDER-BOTTOM: #803075 1px solid; CURSOR: pointer;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px; }
.CatOut	{ BORDER-BOTTOM: #803075 1px solid; CURSOR: pointer; PADDING-TOP: 3px; PADDING-BOTTOM: 3px; }
.CatOverWithoutBorder	{ CURSOR: pointer; BACKGROUND-COLOR: #dbdbdb; BORDER-BOTTOM: none;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px; }


.CatSubOver	{ BACKGROUND-COLOR: #c125b7; BORDER-BOTTOM: #803075 1px solid; CURSOR: pointer;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px; }
.CatSubOverOnlyBorder	{ BACKGROUND-COLOR: #c682bb; BORDER-BOTTOM: #803075 1px solid; CURSOR: pointer;  PADDING-TOP: 3px; PADDING-BOTTOM: 3px; }
.CatSubOut	{ BACKGROUND-COLOR: #c682bb; BORDER-BOTTOM: #803075 1px solid; 	CURSOR: pointer; PADDING-TOP: 3px; PADDING-BOTTOM: 3px; }
.CatSubOutLast  { BACKGROUND-COLOR: #c682bb; CURSOR: pointer; PADDING-TOP: 3px; PADDING-BOTTOM: 3px;  }
.CatSubOverWithoutBorder	{ CURSOR: pointer; BACKGROUND-COLOR: #c125b7; BORDER-BOTTOM: none; PADDING-TOP: 3px; PADDING-BOTTOM: 3px; }

.BorderOut	{ BACKGROUND-COLOR: #803075;}
.BorderOver	{ BACKGROUND-COLOR: #803075;}

.CatImageBorderOut	{
 	BORDER: #570543 1px solid;  
}
.CatImageBorderOver	{
	BORDER: #570543 1px solid;  
}


.CategoriesListOut	{
	COLOR: #ffffff;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOut:link	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
.CategoriesListOut:visited	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
.CategoriesListOut:hover	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
.CategoriesListOut:active	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}

.CategoriesListOver	{
	COLOR: #ffffff;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOver:link	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
.CategoriesListOver:visited	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
.CategoriesListOver:hover	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
.CategoriesListOver:active	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}

.SubCatBorder	{
	BORDER: #000000 1px solid;
}
