.CatOver	{ BACKGROUND-COLOR: #dbdbdb; BORDER-BOTTOM: #9a989b 1px solid; CURSOR: pointer; }
.CatOverOnlyBorder	{ BORDER-BOTTOM: #9a989b 1px solid; CURSOR: pointer; }
.CatOut	{ BORDER-BOTTOM: #ffffff 1px solid; CURSOR: pointer;  }
.CatOverWithoutBorder	{ CURSOR: pointer; BACKGROUND-COLOR: #dbdbdb; BORDER-BOTTOM: none; }


.CatSubOver	{ BACKGROUND-COLOR: #dbdbdb; BORDER-BOTTOM: #9a989b 1px solid; CURSOR: pointer; }
.CatSubOverOnlyBorder	{ BACKGROUND-COLOR: #FFFFFF; BORDER-BOTTOM: #9a989b 1px solid; CURSOR: pointer; }
.CatSubOut	{ BACKGROUND-COLOR: #FFFFFF; BORDER-BOTTOM: #ffffff 1px solid; 	CURSOR: pointer; }
.CatSubOutLast  { BACKGROUND-COLOR: #FFFFFF; BORDER-BOTTOM: #ffffff 1px solid;  CURSOR: pointer; }
.CatSubOverWithoutBorder	{ CURSOR: pointer; BACKGROUND-COLOR: #dbdbdb; BORDER-BOTTOM: none; }

.BorderOut	{ BACKGROUND-COLOR: #FFFFFF;}
.BorderOver	{ BACKGROUND-COLOR: #9a989b;}

.CatImageBorderOut	{
 	BORDER: #a4a3a8 1px solid;  
}
.CatImageBorderOver	{
	BORDER: #666666 1px solid;  
}


.CategoriesListOut	{
	COLOR: #505863;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOut:link	{
	COLOR: #505863; TEXT-DECORATION: none;
}
.CategoriesListOut:visited	{
	COLOR: #505863; TEXT-DECORATION: none;
}
.CategoriesListOut:hover	{
	COLOR: #505863; TEXT-DECORATION: none;
}
.CategoriesListOut:active	{
	COLOR: #505863; TEXT-DECORATION: none;
}

.CategoriesListOver	{
	COLOR: #373b3e;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOver:link	{
	COLOR: #373b3e; TEXT-DECORATION: none;
}
.CategoriesListOver:visited	{
	COLOR: #373b3e; TEXT-DECORATION: none;
}
.CategoriesListOver:hover	{
	COLOR: #373b3e; TEXT-DECORATION: none;
}
.CategoriesListOver:active	{
	COLOR: #373b3e; TEXT-DECORATION: none;
}

.SubCatBorder	{
	BORDER: #9a989b 1px solid;
}
