BODY,P,DIV,TH,TD,P,INPUT,SELECT,TEXTAREA {
        FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif; 
        COLOR: #000000; FONT-SIZE: 10px;
}
BODY { 
        MARGIN-TOP: 5 px; MARGIN-BOTTOM: 5 px; MARGIN-LEFT: 5 px; MARGIN-RIGHT: 5 px; 
        BACKGROUND-COLOR: #FFFFFF;
}
A:link {
        COLOR: #000055; TEXT-DECORATION: underline;
}
A:visited {
        COLOR: #000055; TEXT-DECORATION: underline;
}
A:hover {
        COLOR: #000055; TEXT-DECORATION: none;
}
A:active  {
        COLOR: #000055; TEXT-DECORATION: underline;
}
H1 {
        FONT-SIZE: 16px;
        COLOR: #FF0000;
}
H2 {
        FONT-SIZE: 13px;
}
H3 {
        FONT-SIZE: 12px;
}
HR {
        COLOR: #DDDDDD; HEIGHT: 1px;
}
