DirectoryIndex index.php

#<IfModule mod_rewrite.c>
#RewriteEngine on
#RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
#</IfModule>

#<files "callback.php">
#AuthType Basic
#AuthName "Authentication required"
#AuthUserFile /u/<your home folder>/.users
#Require user <your merchant ID>
#</files>
