.FlyoutItems	{
	COLOR: #505863; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutItems:link	{
	COLOR: #505863; TEXT-DECORATION: none;
}
A.FlyoutItems:visited	{
	COLOR: #505863; TEXT-DECORATION: none;
}
A.FlyoutItems:hover	{
	COLOR: #505863; TEXT-DECORATION: underline;
}
A.FlyoutItems:active	{
	COLOR: #505863; TEXT-DECORATION: none;
}



.FlyoutItemsSelected	{
	COLOR: #074d88; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutItemsSelected:link	{
	COLOR: #074d88; TEXT-DECORATION: none;
}
A.FlyoutItemsSelected:visited	{
	COLOR: #074d88; TEXT-DECORATION: none;
}
A.FlyoutItemsSelected:hover	{
	COLOR: #074d88; TEXT-DECORATION: underline;
}
A.FlyoutItemsSelected:active	{
	COLOR: #074d88; TEXT-DECORATION: none;
}

.FlyoutBG	{
	BACKGROUND-REPEAT: no-repeat; 
	BACKGROUND-POSITION: center top;
}
