.CatTD  {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; CURSOR: pointer;
}
.CatTDOut	{
	HEIGHT: 20px; PADDING-RIGHT: 14px; PADDING-LEFT: 14px;
	BACKGROUND-POSITION: top; BACKGROUND-REPEAT: repeat-x;
	BACKGROUND-COLOR: #fee291;
}

.CatTDOver	{
	HEIGHT: 20px; PADDING-RIGHT: 14px; PADDING-LEFT: 14px;
	BACKGROUND-POSITION: top; BACKGROUND-REPEAT: repeat-x;
	BACKGROUND-COLOR: #faeb76;
}
.TableOut	{
    BORDER-RIGHT: #bec3c9 1px solid;
    BORDER-LEFT: #bec3c9 1px solid;
}

.TableOver	{
	BORDER-RIGHT: #a0caf2 1px solid;
	BORDER-LEFT: #a0caf2 1px solid;
}
.Line1_2	{ BACKGROUND-COLOR: #fdfac3; }
.Line2_2	{ BACKGROUND-COLOR: #faeb76; }
.Line3_2	{ BACKGROUND-COLOR: #fce86d; }
.Line4_2	{ BACKGROUND-COLOR: #fae764; }
.Line1	{ BACKGROUND-COLOR: #fdfac3; }
.Line2	{ BACKGROUND-COLOR: #fee291; }
.Line3	{ BACKGROUND-COLOR: #fbdb84; }
.Line4	{ BACKGROUND-COLOR: #f8d272; }


.CategoriesListOut	{
	COLOR: #880903;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOut:link	{
	COLOR: #880903; TEXT-DECORATION: none;
}
.CategoriesListOut:visited	{
	COLOR: #880903; TEXT-DECORATION: none;
}
.CategoriesListOut:hover	{
	COLOR: #880903; TEXT-DECORATION: none;
}
.CategoriesListOut:active	{
	COLOR: #880903; TEXT-DECORATION: none;
}

.CategoriesListOver	{
	COLOR: #000000;	FONT-SIZE: 12px; TEXT-DECORATION: none;
}
.CategoriesListOver:link	{
	COLOR: #000000; TEXT-DECORATION: none;
}
.CategoriesListOver:visited	{
	COLOR: #000000; TEXT-DECORATION: none;
}
.CategoriesListOver:hover	{
	COLOR: #000000; TEXT-DECORATION: none;
}
.CategoriesListOver:active	{
	COLOR: #000000; TEXT-DECORATION: none;
}

.SubCatBorder	{
    border-top: 1px solid #b76124;
    border-right: 1px solid #b76124;
    border-left: 1px solid #b76124;
    background-color: #b76124;
}

.IndentTR {
}
.IndentTD {
    height: 1px;
}
.IndentIMG {
    width: 1px;
    height: 1px;
}

.CatContainer {
    width: 100%;
    background-color: #ba6125;
}
