{* $Id$ *}
.lc-subcategory-icons
{
	list-style: none;
}

/*
 * Information on hacks used below is available at:
 * - http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/
 * - http://foohack.com/2007/11/cross-browser-support-for-inline-block-styling/
 */

.lc-subcategory-icons li
{
  adding: 0;
  argin: 0 1em 1em 0;
	vertical-align: top;
	background-image: none;
	display: -moz-inline-stack;		/* FF2 supports this instead of "inline-block" */
	display: inline-block;
}

/* IE6 requires this in order to correctly display li as "inline-blocks */
* html .lc-subcategory-icons li
{
  display: inline;
}

.lc-subcategory-icons a
{
  display: block;
	text-align: center;
}

.lc-subcategory-icons a,
.lc-subcategory-icons img
{
  position: relative;       /* Hack for FF2: in FF2 static "inner-blocks" are non-clickable */
}
