.FlyoutItems	{
	COLOR: #fcc3f0; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutItems:link	{
	COLOR: #fcc3f0; TEXT-DECORATION: none;
}
A.FlyoutItems:visited	{
	COLOR: #fcc3f0; TEXT-DECORATION: none;
}
A.FlyoutItems:hover	{
	COLOR: #ffffff; TEXT-DECORATION: underline;
}
A.FlyoutItems:active	{
	COLOR: #fcc3f0; TEXT-DECORATION: none;
}



.FlyoutItemsSelected	{
	COLOR: #ffffff; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutItemsSelected:link	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
A.FlyoutItemsSelected:visited	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
A.FlyoutItemsSelected:hover	{
	COLOR: #ffffff; TEXT-DECORATION: underline;
}
A.FlyoutItemsSelected:active	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
