.FlyoutItems	{
	COLOR: #ca703c; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutItems:link	{
	COLOR: #ca703c; TEXT-DECORATION: none;
}
A.FlyoutItems:visited	{
	COLOR: #ca703c; TEXT-DECORATION: none;
}
A.FlyoutItems:hover	{
	COLOR: #6d1c00; TEXT-DECORATION: underline;
}
A.FlyoutItems:active	{
	COLOR: #ca703c; TEXT-DECORATION: none;
}



.FlyoutItemsSelected	{
	COLOR: #6d1c00; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutItemsSelected:link	{
	COLOR: #6d1c00; TEXT-DECORATION: none;
}
A.FlyoutItemsSelected:visited	{
	COLOR: #6d1c00; TEXT-DECORATION: none;
}
A.FlyoutItemsSelected:hover	{
	COLOR: #6d1c00; TEXT-DECORATION: underline;
}
A.FlyoutItemsSelected:active	{
	COLOR: #6d1c00; TEXT-DECORATION: none;
}
