.FlyoutRootItemsOut	{
	COLOR: #38698a; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;
}
A.FlyoutRootItemsOut:link	{
	COLOR: #38698a; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOut:visited	{
	COLOR: #38698a; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOut:hover	{
	COLOR: #38698a; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOut:active	{
	COLOR: #38698a; TEXT-DECORATION: none;
}


.FlyoutRootItemsOver	{
	COLOR: #2e526a; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;
}
A.FlyoutRootItemsOver:link	{
	COLOR: #2e526a; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOver:visited	{
	COLOR: #2e526a; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOver:hover	{
	COLOR: #2e526a; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOver:active	{
	COLOR: #2e526a; TEXT-DECORATION: none;
}



.FlyoutSubItemsOut	{
	COLOR: #3b6c8d; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutSubItemsOut:link	{
	COLOR: #3b6c8d; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOut:visited	{
	COLOR: #3b6c8d; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOut:hover	{
	COLOR: #3b6c8d; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOut:active	{
	COLOR: #3b6c8d; TEXT-DECORATION: none;
}



.FlyoutSubItemsOver	{
	COLOR: #32586f; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutSubItemsOver:link	{
	COLOR: #32586f; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOver:visited	{
	COLOR: #32586f; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOver:hover	{
	COLOR: #32586f; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOver:active	{
	COLOR: #32586f; TEXT-DECORATION: none;
}


.SubMenuOut	{
	BACKGROUND-COLOR: #d5e6f0;
	BORDER: #c6dce9 1px solid;
	BORDER-BOTTOM: none;
}
.SubMenuOver	{
	BACKGROUND-COLOR: #f2f7fb;
	BORDER: #daebf5 1px solid;
	BORDER-BOTTOM: none;
}

.FlyoutBox	{
	BORDER-BOTTOM: #c6dce9 1px solid; /*WIDTH: 150px;*/
}

.RootMenuOut	{
	BACKGROUND-IMAGE: url('../images/blue/bg.gif');  CURSOR: pointer;
}
.RootMenuOver	{
	BACKGROUND-IMAGE: url('../images/blue/bg2.gif');  CURSOR: pointer;  
}

.FlyoutContainer	{
	BORDER-BOTTOM: #829eb4 1px solid;
	PADDING-LEFT: 40px;
}
