.FlyoutRootItemsOut	{
	COLOR: #595a5c; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;
}
A.FlyoutRootItemsOut:link	{
	COLOR: #595a5c; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOut:visited	{
	COLOR: #595a5c; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOut:hover	{
	COLOR: #595a5c; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOut:active	{
	COLOR: #595a5c; TEXT-DECORATION: none;
}


.FlyoutRootItemsOver	{
	COLOR: #4c5f65; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;
}
A.FlyoutRootItemsOver:link	{
	COLOR: #4c5f65; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOver:visited	{
	COLOR: #4c5f65; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOver:hover	{
	COLOR: #4c5f65; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOver:active	{
	COLOR: #4c5f65; TEXT-DECORATION: none;
}



.FlyoutSubItemsOut	{
	COLOR: #3b6c8d; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutSubItemsOut:link	{
	COLOR: #3b6c8d; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOut:visited	{
	COLOR: #3b6c8d; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOut:hover	{
	COLOR: #3b6c8d; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOut:active	{
	COLOR: #3b6c8d; TEXT-DECORATION: none;
}



.FlyoutSubItemsOver	{
	COLOR: #32586f; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutSubItemsOver:link	{
	COLOR: #32586f; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOver:visited	{
	COLOR: #32586f; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOver:hover	{
	COLOR: #32586f; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOver:active	{
	COLOR: #32586f; TEXT-DECORATION: none;
}


.SubMenuOut	{
	BACKGROUND-COLOR: #e8e9eb;
}
.SubMenuOver	{
	BACKGROUND-IMAGE: url('../images/blue_grey/bg3.gif');
	BACKGROUND-COLOR: #e0eff4;
}
.SubMenuOutFirst	{
	BACKGROUND-IMAGE: url('../images/blue_grey/bg5.gif');
	BACKGROUND-COLOR: #ffffff;
}
.SubMenuOutFirstLast	{
/*	BACKGROUND-COLOR: #e8e9eb; */
	BACKGROUND-IMAGE: url('../images/blue_grey/bg6.gif');
}

.SubMenuOutLast	{
	BACKGROUND-IMAGE: url('../images/blue_grey/bg4.gif');
	BACKGROUND-COLOR: #e8e9eb;
}
.RootMenuOut	{
	BACKGROUND-IMAGE: url('../images/blue_grey/bg.gif'); CURSOR: pointer; HEIGHT: 26px;
}
.RootMenuOver	{
	BACKGROUND-IMAGE: url('../images/blue_grey/bg2.gif'); CURSOR: pointer; HEIGHT: 26px;  
}
.Bottom1	{
	BACKGROUND-COLOR: #e8e9eb;
}
.Bottom2	{
	BACKGROUND-COLOR: #fbfcfe;
}

.HeadOver	{
	BACKGROUND-COLOR: #e8e9eb;
}
.HeadOut	{
	BACKGROUND-COLOR: #758992;
}
.FlyoutContainer	{
	BORDER-BOTTOM: #829eb4 1px solid;
	HEIGHT: 26px;
	PADDING-LEFT: 40px;
}
