.FlyoutRootItemsOut	{
	COLOR: #6a0405; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;
}
A.FlyoutRootItemsOut:link	{
	COLOR: #6a0405; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOut:visited	{
	COLOR: #6a0405; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOut:hover	{
	COLOR: #6a0405; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOut:active	{
	COLOR: #6a0405; TEXT-DECORATION: none;
}


.FlyoutRootItemsOver	{
	COLOR: #ffffff; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;
}
A.FlyoutRootItemsOver:link	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOver:visited	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOver:hover	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOver:active	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}



.FlyoutSubItemsOut	{
	COLOR: #9e555c; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutSubItemsOut:link	{
	COLOR: #9e555c; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOut:visited	{
	COLOR: #9e555c; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOut:hover	{
	COLOR: #9e555c; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOut:active	{
	COLOR: #9e555c; TEXT-DECORATION: none;
}



.FlyoutSubItemsOver	{
	COLOR: #ffffff; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutSubItemsOver:link	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOver:visited	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOver:hover	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOver:active	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}


.SubMenuOut	{
	BACKGROUND-IMAGE: url('../images/FashionBoutique/bg7.gif');
	BACKGROUND-COLOR: #f9e5f6;
}
.SubMenuOver	{
	BACKGROUND-IMAGE: url('../images/FashionBoutique/bg3.gif');
	BACKGROUND-COLOR: #e0eff4;
}
.SubMenuOutFirst	{
	BACKGROUND-IMAGE: url('../images/FashionBoutique/bg5.gif');
	BACKGROUND-COLOR: #ffffff;
}
.SubMenuOutFirstLast	{
	BACKGROUND-IMAGE: url('../images/FashionBoutique/bg6.gif');
}

.SubMenuOutLast	{
	BACKGROUND-IMAGE: url('../images/FashionBoutique/bg4.gif');
	BACKGROUND-COLOR: #e8e9eb;
}
.RootMenuOut	{
	BACKGROUND-IMAGE: url('../images/FashionBoutique/bg.gif'); CURSOR: pointer; HEIGHT: 26px;
}
.RootMenuOver	{
	BACKGROUND-IMAGE: url('../images/FashionBoutique/bg2.gif'); CURSOR: pointer; HEIGHT: 26px;  
}

.Bottom1	{
	BACKGROUND-COLOR: #ffffff;
}
.Bottom2	{
	BACKGROUND-COLOR: #fbfcfe;
}

.HeadOver	{
	BACKGROUND-COLOR: #e8e9eb;
}
.HeadOut	{
	BACKGROUND-COLOR: #758992;
}
.FlyoutContainer	{
	BORDER-BOTTOM: #d884ec 1px solid;
	HEIGHT: 26px;
	PADDING-LEFT: 40px;
}
