.FlyoutRootItemsOut	{
	COLOR: #0b4e69; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;
}
A.FlyoutRootItemsOut:link	{
	COLOR: #0b4e69; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOut:visited	{
	COLOR: #0b4e69; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOut:hover	{
	COLOR: #0b4e69; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOut:active	{
	COLOR: #0b4e69; TEXT-DECORATION: none;
}


.FlyoutRootItemsOver	{
	COLOR: #ffffff; FONT-SIZE: 12px; FONT-FAMILY: Tahoma;
}
A.FlyoutRootItemsOver:link	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOver:visited	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOver:hover	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
A.FlyoutRootItemsOver:active	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}



.FlyoutSubItemsOut	{
	COLOR: #196b90; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutSubItemsOut:link	{
	COLOR: #196b90; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOut:visited	{
	COLOR: #196b90; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOut:hover	{
	COLOR: #196b90; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOut:active	{
	COLOR: #196b90; TEXT-DECORATION: none;
}



.FlyoutSubItemsOver	{
	COLOR: #ffffff; FONT-SIZE: 11px; FONT-FAMILY: Tahoma;
}
A.FlyoutSubItemsOver:link	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOver:visited	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOver:hover	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}
A.FlyoutSubItemsOver:active	{
	COLOR: #ffffff; TEXT-DECORATION: none;
}


.SubMenuOut	{
	BACKGROUND-IMAGE: url('../images/WinterSports/bg7.gif');
	BACKGROUND-COLOR: #4db6fa;
}
.SubMenuOver	{
	BACKGROUND-IMAGE: url('../images/WinterSports/bg3.gif');
	BACKGROUND-COLOR: #000000;
}
.SubMenuOutFirst	{
	BACKGROUND-IMAGE: url('../images/WinterSports/bg5.gif');
	BACKGROUND-COLOR: #000000;
}
.SubMenuOutFirstLast	{
	BACKGROUND-IMAGE: url('../images/WinterSports/bg6.gif');
}

.SubMenuOutLast	{
	BACKGROUND-IMAGE: url('../images/WinterSports/bg4.gif');
	BACKGROUND-COLOR: #000000;
}
.RootMenuOut	{
	BACKGROUND-IMAGE: url('../images/WinterSports/bg.gif'); CURSOR: pointer; HEIGHT: 26px;
}
.RootMenuOver	{
	BACKGROUND-IMAGE: url('../images/WinterSports/bg2.gif'); CURSOR: pointer; HEIGHT: 26px;  
}

.Bottom1	{
	BACKGROUND-COLOR: #f2f6f9;
}
.Bottom2	{
	BACKGROUND-COLOR: #f2f6f9;
}

.HeadOver	{
	BACKGROUND-COLOR: #000000;
}
.HeadOut	{
	BACKGROUND-COLOR: #000000;
}
.FlyoutContainer	{
	BORDER-BOTTOM: #acc6d3 1px solid;
	HEIGHT: 26px;
	PADDING-LEFT: 40px;
}
