# vim: set ts=2 sw=2 sts=2 et:
#
# Apache/PHP settings
#
# @author    Creative Development LLC <info@cdev.ru>
# @copyright Copyright (c) 2010 Creative Development LLC <info@cdev.ru>. All rights reserved
# @license   http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
# @link      http://www.litecommerce.com/
# @see        ____file_see____
# @since     1.0.21

Options -Indexes
DirectoryIndex cart.php

<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  RewriteRule (^|/)\. - [F]
  RewriteRule ^((([/_a-z0-9-]+)/)?([_a-z0-9-]+)/)?([_a-z0-9-]+)(\.(htm)(l)?)?$ cart.php?url=$5&last=$4&rest=$3&ext=$7 [NC] [L]

  #RewriteBase ____WEB_DIR____
</IfModule>
